.section-title{
    margin: 20px;
    font-size: 40px;
    text-transform: uppercase;
}

/* project start */

.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.projects img{
    width: 100%;
}

.check-all-project{
    display: flex;
    justify-content: center;
    
}

.check-all-project button{
    padding: 15px 50px;
    background-color: var(--background-color);
    margin-top: 20px;
    margin-bottom: 25px;
    border-top: 1px solid var(--font-primary-color);
    border-bottom: 1px solid var(--font-primary-color);
    border-left: 1px solid var(--font-primary-color);
    border-right: 1px solid var(--font-primary-color);
    font-size: 40px;
    text-transform: uppercase;

}
/* project end */


/* blog start */


.my-blogs{
    display: flex;
    justify-content: space-between;
}

.tag{
    background-color: var(--font-primary-color);
    width: fit-content;
    padding: 17px 30px;
    border-radius: 15px;
    margin: 30px 0px;
}
.tag h1{
    color: var(--background-color);
}

.date{
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-name{
    display: flex;
    gap: 20px;
}

.round-date{
    width: 15px;
    height: 15px;
    background-color: blueviolet;
    border-radius: 100%;
}

.round-name{
    width: 15px;
    height: 15px;
    background-color: skyblue;
    border-radius: 100%;
}

.blog-title{
    margin: 30px 0px;
    font-family: "Poppins", sans-serif;
}
/* blog end */